WebDanvenClient/Connected Services/GeneratorServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneratorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfDanvenRepairedGenerator.ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneratorService_CreateGenerator_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGenerator" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_CreateGenerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGeneratorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_UpdateGenerator_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenerator" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_UpdateGenerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGeneratorResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IGeneratorService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneratorService">
    <wsdl:operation name="CreateGenerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneratorService/CreateGenerator" message="tns:IGeneratorService_CreateGenerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneratorService/CreateGeneratorResponse" message="tns:IGeneratorService_CreateGenerator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneratorService/UpdateGenerator" message="tns:IGeneratorService_UpdateGenerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneratorService/UpdateGeneratorResponse" message="tns:IGeneratorService_UpdateGenerator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneratorService/GetAll" message="tns:IGeneratorService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneratorService/GetAllResponse" message="tns:IGeneratorService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneratorService/GetById" message="tns:IGeneratorService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneratorService/GetByIdResponse" message="tns:IGeneratorService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneratorService" type="tns:IGeneratorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGenerator">
      <soap:operation soapAction="http://tempuri.org/IGeneratorService/CreateGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenerator">
      <soap:operation soapAction="http://tempuri.org/IGeneratorService/UpdateGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IGeneratorService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IGeneratorService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneratorService">
    <wsdl:port name="BasicHttpBinding_IGeneratorService" binding="tns:BasicHttpBinding_IGeneratorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfDanvenRepairedGenerator/GeneratorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>