WebDanvenClient/Connected Services/GeneratorServiceReference/WcfDanvenRepairedGenerator.ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDanvenRepairedGenerator.ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDanvenRepairedGenerator.ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Generator">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneratorApplication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InstallationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRepaired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="RunningHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Generator" nillable="true" type="tns:Generator" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfGenerator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Generator" nillable="true" type="tns:Generator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenerator" nillable="true" type="tns:ArrayOfGenerator" />
</xs:schema>